.button {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #00000033;
  color: #3b3b3b;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
}

.button:disabled {
  background-color: #64767f;
  color: #b1b1b1;
  cursor: default;
}

.button:disabled svg path {
  stroke: #b1b1b1;
}

.button label {
  white-space: nowrap;
  text-align: center;
  flex: 100%;
  cursor: inherit;
  text-decoration: none;
  height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.button {
  border: none;
  background-color: #546e7a;
  color: #fffffff2;
}

.button:hover:not(:disabled) {
  background-color: #455a64;
  color: #fffffffa;
}

.button:active:not(:disabled) {
  background-color: #37474f;
  color: #ffffffff;
}

@media (prefers-color-scheme: dark) {
  .button {
    border: none;
    background-color: #78909c;
    color: #fffffff2;
  }
  .button:disabled {
    background-color: #465055;
  }
  .button:hover:not(:disabled) {
    background-color: #607d8b;
    color: #fffffffa;
  }
  .button:active:not(:disabled) {
    background-color: #546e7a;
    color: #ffffffff;
  }
}
